<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Rugby Shop{% endblock %}</title>
        <link rel="stylesheet" href="{{asset("build/css/app.css")}}" />
        <script defer src="/static/fontawesome/fontawesome-all.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body class='background-planches-brown'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item active">
                        {#        <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
						</li>
                              <li class="nav-item">#}
                               <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Compte
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('compte')}}" > <i class="far fa-user"></i> Compte</a>
                            <a class="dropdown-item" href="{{ path('panier')}}" > <i class="fas fa-shopping-basket"></i> Panier</a>
                            <a class="dropdown-item" href="{{ path('commandes')}}"><i class="fas fa-shopping-cart"></i>Commandes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('logout')}}">Déconnexion</a>
                        </div>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link disabled' >Bienvenue {{app.user.username}}</a>
                    </li>
                {%else%}

                    <li><a class="nav-link" href="{{ path('login') }}">Connexion</a>
                    </li>
                
                

                    <li><a class="nav-link" href="{{ path('enregistrement') }}">Inscription</a>
                    </li>
                {%endif%}

            </ul>
            {#<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>#}
        </div>
    </nav>



{% block body %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
{%block footer %}{% endblock %}
</html>
